/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.listed-recipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-food-section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #5cb85c;
  width: 100%;
}

.sided {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

#recipe-public-toggle {
  visibility: hidden;
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.toggle-slider:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input[type="checkbox"]:checked+.toggle-slider {
  background-color: #5cb85c;
}

input[type="checkbox"]:checked+.toggle-slider:before {
  transform: translateX(20px);
}

input {
  width: 100%;
}

.text-btn {
  background: none;
  color: var(--accent);
  text-decoration: underline;
}