/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input {
  width: 100%;
}

.menu {
  background: transparent;
  padding: 0;
  z-index: 10;
  right: 0;
  position: absolute;
}

.menu svg {
  width: 1.5rem;
  height: 1.5rem;
}

.menu-list {
  position: absolute;
  top: -100vh;
  right: 0;
  overflow: hidden;
  z-index: 11;
  transition: all 0.3s ease;
  background-color: var(--bg);
}

.menu:active + .menu-list,
.menu:focus + .menu-list,
.menu-list:hover {
  top: 10px;
}

.text-btn {
  background: none;
  color: var(--accent);
  text-decoration: underline;
}
